*{
    padding: 0;
    margin: 0;
}

.mainContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
    height: 900px;
}

.title{

}

.gridContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 800px;
    width: 800px;
    border: 8px solid;
    border-radius: 8px;
}

.grid{
    background-color: white;
    height: 750px;
    width: 750px;
}